@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1615395985 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1615395985 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
}

.custom-shape-divider-bottom-1615395985 .shape-fill {
    fill: #ffffff;
}

body {
    @apply bg-gray-100
}

.grow { 
    transition: all .2s linear; 
    }
    
.grow:hover { 
    transform: scale(1.04); 
}

/* splash page animation */
 /* https://codepen.io/mohaiman/pen/MQqMyo */
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background:#FF5A5F;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}


.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 32%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 15%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.text_form_container {
    grid-column: 1 / 3;
    width: 100%;
    /* height: 100vh; */
    margin: 0vw;
    padding: 2vh 4vw 1vh 4vw;
    /* position:relative; */
}

.input {
    display: block;
    width: 100%;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    margin: 1vw 0;
    border-radius: 3px;
    font-size: 18px;
    background: #f6f5f8;
    border: 1px solid #f1f1f1;
    box-shadow: 1px 1px 1px #f1f1f1;
}

input:focus{ 
    outline: none !important;
    border-color: #FF5A5F;
    box-shadow: 0 0 3px #FF5A5F;
}
select:focus { 
    outline: none !important;
    border-color: #FF5A5F;
    box-shadow: 0 0 3px #FF5A5F;
}
textarea:focus { 
    outline: none !important;
    border-color: #FF5A5F;
    box-shadow: 0 0 3px #FF5A5F;
}
.css-6j8wv5-Input {
    outline: none !important;
    border-color:none !important;
    box-shadow: none !important;
}

/* Front page diagonal */
.diagonal-box-1 {
    /*background-image: linear-gradient(45deg, #252222, rgb(68, 0, 68),  purple, #FF5A5F, pink, white);*/
    /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC"); */
    transform: skewY(-6deg);
    padding: 200px;
    margin-top: -90px;
    z-index: -1;
} 
.diagonal-box-2{
    background-color:  #FF5A5F;
    transform: skewY(-6deg);
    padding: 120px;
    margin-top: -80px;
} 
.diagonal-box-3{
    transform: skewY(-6deg);
    padding: 200px;
    margin-top: -80px;
} 

.diagonal-box-4{
    background-color:  #FF5A5F;
    transform: skewY(-6deg);
    padding: 200px;
    margin-top: -80px;
} 

.myGallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.team-image {
    border: 12px double #f3f4f6;
    transform: rotate(6deg);
}

.accent {
    height:20px;
    width:200px;
    margin-top:-50px;
    background-color:  #252222;
    position: absolute;
    top:0;
    right:0;
}

.accent-2 {
    height:30px;
    width:104px;
    margin-top:-50px;
    background-color: #FF5A5F;
    position: absolute;
    top:10px;
    right:3px;
    opacity:0.8;
}

.accent-3 {
    height:20px;
    width:200px;
    margin-top:-50px;
    background-color:  #252222;
    position: absolute;
    bottom:20px;
    left:0;
}

.accent-4 {
    height:30px;
    width:104px;
    margin-top:-50px;
    background-color: #FF5A5F;
    position: absolute;
    bottom:30px;
    left:3px;
    opacity:0.8;
}

.accent-5 {
    height:10px;
    margin-bottom: -10px;
    width:100%;
    background-color: #FF5A5F;
    position: absolute;
    bottom:0;
    z-index:"1";
}

.accent-6 {
    height:7px;
    width:60%;
    background-color: #FF5A5F;
    position: absolute;
    margin-bottom: -80px;
    bottom:0;
    opacity:0.8;
    z-index:"1";
    left:20%;
    opacity:0.8;
}

.accent-7 {
    height:20px;
    width:200px;
    background-color:  #252222;
    position: absolute;
    bottom:120px;
    left:0;
}

.accent-8 {
    height:30px;
    width:104px;
    margin-top:-50px;
    background-color: #FF5A5F;
    position: absolute;
    bottom:130px;
    left:3px;
    opacity:0.8;
}

.inner-diag { 	
    max-width: 50em;
    margin: 0 auto;
    transform: skewY(6deg);
    position: relative;
}

.blog-gradient {
	background: linear-gradient(-45deg, #FF5A5F, #571b1d, #690609, #ff8e92);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
    min-height: 100vh;
}

.spinny {
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }

@keyframes spin {
    from {
        transform:rotateZ(0deg);
    }
    to {
        transform:rotateZ(360deg);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

