@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1615395985 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1615395985 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
}

.custom-shape-divider-bottom-1615395985 .shape-fill {
    fill: #ffffff;
}

body {
    @apply bg-gray-100
}